## .NET / Visual Studio
[Bb]in/
[Oo]bj/
.vs/
*.user

## Azure Functions
local.settings.json

## SWA CLI
.swa/
swa-cli.output/

## Publish output
publish/
*.publishsettings

# Local reference material (do not commit copyrighted PDFs)
Warhammer40k.11/wwwroot/*.pdf
