@inherits LayoutComponentBase

<nav class="topnav">
    <a class="brand" href="/">TombForge</a>
    <div class="links">
        <NavLink class="navlink" href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="navlink" href="armies">Armies</NavLink>
    </div>
</nav>

<main>
    @Body
</main>
